section.content .flash {
    width: 500px;
}

form {
    width: 500px;
    background-color: var(--content-bg-colour);
    padding: 0 15px;
    border-radius: 0.4rem;
}

form span {
    display: block;
    font-weight: 700;
    margin: 1rem 0;
}

form input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    background-color: var(--bg-colour);
    border: none;
    padding: 0.5rem;
    font-family: inherit;
    border-radius: 0.4rem;
    font-size: inherit;
}

form input[type="text"],
form input[type="password"] {
    color: var(--text-colour);
}

form input[type=submit] {
    background-color: var(--contrast-colour);
    color: var(--bg-colour);
    margin: 1rem 0;
    cursor: pointer;
}

form input[type=submit]:hover {
    background-color: var(--contrast-light-colour);
}

form label {
    display: block;
}

@media only screen and (max-width: 768px) {
    section.content .flash,
    form {
        width: 100%
    }
}