section.content .flash {
    width: 500px;
}

form {
    width: 500px;
    background-color: #A8DADC;
    padding: 0 15px;
    border-radius: 0.4rem;
}

form span {
    display: block;
    font-weight: 700;
    margin: 1rem 0;
}

form input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    background-color: #F1FAEE;
    border: none;
    padding: 0.5rem;
    font-family: inherit;
    border-radius: 0.4rem;
}

form input[type=submit] {
    background-color: #E63946;
    color: #F1FAEE;
    margin: 1rem 0;
}

form label {
    display: block;
}

@media only screen and (max-width: 768px) {
    section.content .flash,
    form {
        width: 100%
    }
}