/* Colourscheme: https://coolors.co/2274a5-f75c03-f1c40f-d90368-00cc66
off-white for bg, darkest blue for text, red for text I want to highlight (links? submit buttons?)
two other blues for various ui bg things.
*/

:root {
    --text-colour: #1D3557;
    --content-bg-colour: #A8DADC;
    --bg-colour: #F1FAEE;
    --contrast-colour: #E63946;
    --contrast-light-colour: #F35A66;
  }

/* GENERAL */

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background-color: var(--bg-colour);
    color: var(--text-colour);
}

body * {
    box-sizing: inherit;
}

section.content {
    width: 80%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.content .flash {
    width: 100%;
    background-color: var(--content-bg-colour);
    padding: 1rem 15px;
    border-radius: 0.4rem;
    margin-bottom: 15px;
}

/* NAV */

#nav-clearance {
    height: 60px;
    width: 100%;
}

nav {
    background-color: var(--content-bg-colour);
    overflow: hidden;
    height: 60px;
    transition: height 0.5s;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    padding: 0 15px;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

nav li {
    list-style-type: none;
    padding: 0;
    display: inline;
}

nav a {
    text-decoration: none;
    line-height: 60px;
    color: var(--text-colour);
}

nav a:hover {
    text-decoration: underline;
}

nav .nav-logo {
    padding: 5px 15px;
    font-size: 1.25rem;
    font-weight: 700;
}

nav li a,
.selectNative {
    padding: 5px 0px 5px 10px;
    color: var(--text-colour);
}

nav .nav-button {
    display: none;
}

/* CURRENCY SELECT */

.select {
    position: relative;
    display: inline;
    line-height: 60px;
}

.selectWrapper {
    position: relative;
    display: inline;
}

.selectNative {
    background-color: var(--content-bg-colour);
    border: none;
    position: relative;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
}

/* hidden from view but *not* from screenreaders */
#currencyLabel {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

/* MOBILE */

@media only screen and (max-width: 768px) {
    section.content {
        width: 90%;
    }

    nav {
        display: initial;
    }

    nav ul,
    nav li {
        display: block;
        padding: 0;
    }

    nav li a,
    .selectNative {
        padding: 5px 15px;
    }

    nav .nav-button {
        display: initial;
        position: absolute;
        right: 0;
        top: 0;
        line-height: 60px;
        padding: 0 15px;
        font-size: 2em;
    }
}