/* HERO */

.hero {
    width: 100%;
    background-color: var(--content-bg-colour);
    padding: 0 15px;
    border-radius: 0.4rem;
}

.hero h1 {
    display: block;
    font-weight: 700;
    margin: 2rem 0;
    font-size: 2rem;
}

.hero form {
    margin: 2rem 0;
    display: grid;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    grid-template-columns: repeat(4, minmax(0, 1fr)) 100px;
}

.hero form select,
.hero form input[type="date"],
.hero form input[type="number"],
.hero form input[type="submit"] {
    border: none;
    font-family: inherit;
    font-size: inherit;
    border-radius: 0.4rem;
    padding: 0.5rem 0.25rem;
}

.hero form select,
.hero form input[type="date"],
.hero form input[type="number"] {
    background-color: var(--bg-colour);
    color: inherit;
}

.hero form input[type="submit"] {
    background-color: var(--contrast-colour);
    color: var(--bg-colour);
    cursor: pointer;
}

.hero form input[type="submit"]:hover {
    background-color: var(--contrast-light-colour);
}

@media only screen and (max-width: 950px) {
    .hero form {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .hero form > *:nth-child(2),
    .hero form > *:nth-child(5),
    .hero form > *:nth-child(6) {
        grid-column: 1 / span 2;
    }
}

/* CAROUSEL */

.locations-carousel {
    background-color: var(--content-bg-colour);
    border-radius: 0.4rem;
    padding: 0 15px;
    margin: 15px 0;
    width: 100%;
}

.carousel {
    display: flex;
    align-items: center;
}

.carousel > *:not(:last-child) {
    margin-right: 0.5rem;
}

.carousel-inner {
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    list-style: none;
    padding: 0;
    scroll-behavior: smooth;
}

.carousel-inner::-webkit-scrollbar {
    display: none;
}

.carousel-item {
    width: 300px;
    background-color: var(--bg-colour);
    border-radius: 0.4rem;
}

.carousel-item:not(:last-child) {
    margin-right: 15px;
}

.carousel-item > * {
    width: inherit;
}

.carousel-item img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 0.4rem 0.4rem 0 0;
    transition: opacity 0.5s;
}

.carousel-item img:hover {
    opacity: 0.5;
}

.carousel-item-text {
    padding: 0 15px;
}

.carousel-item h5 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-colour);
    margin: 1rem 0;
}

.carousel-item a {
    color: var(--text-colour);
}

.carousel-item a {
    text-decoration: none;
}

.carousel-item a:hover {
    text-decoration: underline;
}

.carousel-control {
    padding: 0;
    border: none;
    border-radius: 50%;
    background: none;
    cursor: pointer;
}

.carousel-control i {
    font-size: 2.5rem;
    display: block;
    color: var(--text-colour);
}

@media screen and (max-width: 768px) {
    .carousel-item {
        width: 200px;
    }

    .carousel-item img {
        width: 200px;
        height: 200px;
    }

    .carousel-control i {
        font-size: 1.5rem;
    }
}