/* General */

h1 {
    font-size: 2rem;
    margin-bottom: 0;
}

h2 {
    align-self: flex-start;
}

/* Account Details */

form {
    width: 100%;
    background-color: var(--content-bg-colour);
    border-radius: 0.4rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

form > * {
    margin-top: 0.5rem;
}

form > *:nth-child(2) {
    margin-top: initial;
}

form input[type="text"],
form input[type="password"],
form input[type="submit"] {
    border: none;
    font-family: inherit;
    font-size: inherit;
    border-radius: 0.4rem;
}

form input[type="text"],
form input[type="password"] {
    background-color: var(--bg-colour);
    color: inherit;
    padding: 0.5rem 0.25rem;
}

form input[type="submit"] {
    background-color: var(--contrast-colour);
    color: var(--bg-colour);
    cursor: pointer;
    width: fit-content;
    align-self: center;
    padding: 0.5rem;
}

form input[type="submit"]:hover {
    background-color: var(--contrast-light-colour);
}

form span {
    color: var(--contrast-colour);
}

@media only screen and (max-width: 650px) {
    form input[type="submit"] {
        width: 100%;
    }
}

/* Bookings */

.bookings {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.booking {
    background-color: var(--content-bg-colour);
    border-radius: 0.4rem;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.booking-inner {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 1rem;
}

.icons {
    display: flex;
    flex-direction: row;
}

.booking img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 0.4rem 0 0 0.4rem;
}

.booking p {
    margin: 0;
}

.booking h3 {
    margin: 0 0 1rem 0;
}

.booking i {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

.booking a {
    color: var(--contrast-colour);
}

.booking a:hover {
    color: var(--contrast-light-colour);
}

@media only screen and (max-width: 650px) {
    .booking {
        flex-direction: column;
    }

    .booking img {
        width: 100%;
        border-radius: 0.4rem 0.4rem 0 0;
    }

    .icons {
        flex-direction: column;
        align-items: center;
    }
}