{% extends "base.html" %}

<!-- TODO: 
* give all images alt text
* make the book/submit buttons change on hover (right now the cursor 
just changes to a pointer, they should change colour or something)
-->

{% block title %}Home{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<header class="hero">
  <h1>Find a room with us...</h1>
  <form method="POST" action="{{ url_for('hotels.search_submit') }}">
    {{ form.csrf_token }}
    <select name="location" id="location">
      <option value="" disabled selected>Select Location</option>
      {% for option in form.location %}
        {{ option }}
      {% endfor %}
    </select>
    {{ form.booking_start }}
    {{ form.booking_end }}
    {{ form.guests }}
    <input type="submit" value="Search">
  </form>
</header>
<div class="locations-carousel">
  <h2>Our most popular locations</h2>
  <div class="carousel">
    <button class="carousel-control">
      <img src="{{ url_for('static', filename='svgs/chevron-circle-left-solid.svg') }}" />
    </button>
    <ul class="carousel-inner">
      {% for location in locations %}
        <li class="carousel-item">
          <a href="{{ url_for('hotels.search', location=location.id, booking_start=start_date, booking_end=end_date, guests=1) }}">
            <img src="{{ url_for('static', filename=location.image) }}"/>
          </a>
          <div class="carousel-item-text">
            <a href="{{ url_for('hotels.search', location=location.id, booking_start=start_date, booking_end=end_date, guests=1) }}">
              <h5>{{ location.name }}</h5>
            </a>
            <p>{{ location.rooms_available(start_date, end_date) }} rooms available next month</p>
          </div>
        </li>
      {% endfor %}
    </ul>
    <button class="carousel-control">
      <img src="{{ url_for('static', filename='svgs/chevron-circle-right-solid.svg') }}" />
    </button>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/carousel.js') }}"></script>
{% endblock %}