{% extends "base.html" %}

{% block title %}Book {{ room_types[room_type.room_type] }} Room in {{ location.name }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/room.css') }}">
{% endblock %}

{% block content %}

<header class="hero">
  <img
    src="{{ url_for('static', filename=location.image ) }}"
    alt="{{ location.image_alt_text }}"
  />
  <div class="hero-inner">
    <div>
      <h1>{{ room_types[room_type.room_type] }} Room in {{ location.name }}</h1>
    </div>
    <div>
      <p>Max Occupants: {{ room_type.max_occupants }}</p>
      <p>{{ location.rooms_available(booking_start, booking_end, room_types=(room_type,)) }} Rooms left</p>
    </div>
  </div>
</header>

<div class="booking-details">
  <h1>Booking details:</h1>
  <p><b>Guests:</b> {{ guests }}</p>
  <p><b>Booking start:</b> {{ booking_start }}</p>
  <p><b>Booking end:</b> {{ booking_end }}</p>
  <p><b>Cost:</b>
    {% if discount_price is none %}
      {{ symbol }}{{ "{:.2f}".format(price) }}
    {% else %}
      <strike>{{ symbol }}{{ "{:.2f}".format(price) }}</strike> {{ symbol }}{{ "{:.2f}".format(discount_price) }}
    {% endif %}
  </p>
</div>

<form method="POST">
  <h1>Book this room now:</h1>
  {{ form.csrf_token }}
  <h2>Personal Information</h2>
  <div class="form-personal">
    <div>
      <span>*</span>
      {{ form.full_name }}
    </div>
    <div>
      <span>*</span>
      {{ form.email }}
    </div>
  </div>
  <h2>Address</h2>
  <div class="form-address">
    <span>*</span>
    {{ form.address.address_1 }}
    {{ form.address.address_2 }}
    <span>*</span>
    <!-- TODO: This is stupidly brittle. Should instead iterate across
    the validators and test for the Length validator class, then render. -->
    {{ form.address.postcode(
      minlength=form.address.postcode.validators[1]["min"],
      maxlength=form.address.postcode.validators[1]["max"]
    ) }}
    <span>*</span>
    <select name="address-country" id="address-country" required>
      <option value="" disabled selected>Select Country</option>
      {% for option in form.address.country %}
        {{ option }}
      {% endfor %}
    </select>
  </div>
  <h2>Card Details</h2>
  <div class="form-card">
    <div>
      <span>*</span>
      <select name="card_details-card_type" id="card_details-card_type" required>
        <option value="" disabled selected>Select Card Type</option>
        {% for option in form.card_details.card_type %}
          {{ option }}
        {% endfor %}
      </select>
    </div>
    <div>
      <span>*</span>
      {{ form.card_details.card_number }}
    </div>
    <div>
      <span>*</span>
      {{ form.card_details.security_code }}
    </div>
    <div>
      {{ form.card_details.expiry_date.label }}
    </div>
    <div>
      <span>*</span>
      {{ form.card_details.expiry_date.expiry_month }}
    </div>
    <div>
      <span>*</span>
      {{ form.card_details.expiry_date.expiry_year }}
    </div>
  </div>
  <input type="submit" value="Book">
</form>
{% endblock %}