<!-- George Whittington, Student ID: 20026036, 2022 -->

{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
{% endblock %}

{% block content %}
<div class="search-content">
  <div class="filter-wrapper">
    <div class="filter">
      <h2>Filter</h2>
      <form method="POST" action="{{ url_for('hotels.search') }}">
        {{ form.csrf_token }}
        <select name="location" id="location">
          <option value="" disabled selected>Select Location</option>
          {% for option in form.location %}
            {{ option }}
          {% endfor %}
        </select>
        {{ form.booking_start }}
        {{ form.booking_end }}
        {{ form.guests }}
        <input type="submit" value="Search">
      </form>
    </div>
  </div>
  <div class="results">
    {% for location, room_type, guests, price, discount_price, symbol in results %}
      <div class="hotel-room">
        <img
          src="{{ url_for('static', filename=location.image) }}"
          alt="{{ location.image_alt_text }}"
        />
        <div class="hotel-room-inner">
          <div class="hotel-room-info">
            <h3>{{ location.name }}</h3>
            <p>{{ room_types.get(room_type.room_type) }} Room</p>
            <p>Max Occupants: {{ room_type.max_occupants }}</p>
            <p>{{ location.rooms_available(booking_start, booking_end, room_types=(room_type,)) }} Rooms left</p>
          </div>
          <div class="hotel-room-booking">
            {% if discount_price is none %}
              <p>{{ symbol }}{{ "{:.2f}".format(price) }} for {{ booking_duration }}</p>
            {% else %}
              <p><strike>{{ symbol }}{{ "{:.2f}".format(price) }}</strike> {{ symbol }}{{ "{:.2f}".format(discount_price) }} for {{ booking_duration}}</p>
            {% endif %}
            <p class="hotel-room-button"><a href="{{ url_for('hotels.room', location=location.id, room_type=room_type.id, booking_start=booking_start, booking_end=booking_end, guests=guests) }}">Book Now</a></p>
          </div>
        </div>
      </div>
    {% endfor %}
    {% if not results %}
      <h1>No hotel rooms could be found, sorry.</h1>
    {% endif %}
  </div>
</div>
{% endblock %}