{% extends "base.html" %}

{% block title %}My Account{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/my_account.css') }}">
{% endblock %}
{% block content %}
<h1>Welcome, {{ current_user.username }}</h1>
<h2>Your bookings:</h2>
<div class="bookings">
    {% for booking in bookings %}
    <div class="booking">
        <img 
            src="{{ url_for('static', filename=booking.room.location.image) }}"
            alt="{{ booking.room.location.image_alt_text }}"
        >
        <div class="booking-inner">
            <div>
                <h3>{{ ROOM_TYPES[booking.room.room_type.room_type] }} Room in {{ booking.room.location.name }}</h3>
                <p><b>Check In:</b> {{ booking.booking_start.strftime("%A %d %B, %Y") }}</p>
                <p><b>Check Out:</b> {{ booking.booking_end.strftime("%A %d %B, %Y") }}</p>
                <p><b>Guests:</b> {{ booking.guests }}</p>
            </div>
            <div class="icons">
                <a title="Cancel Booking" href="{{ url_for('hotels.delete_booking', booking_id=booking.id) }}"><i class="fas fa-trash"></i></a>
                <a title="View Booking PDF" href="{{ url_for('hotels.booking_pdf', booking_id=booking.id) }}"><i class="fas fa-file-pdf"></i></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}