<!-- George Whittington, Student ID: 20026036, 2022 -->

{% extends "base.html" %}

{% block title %}Register{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth_forms.css') }}">
{% endblock %}
{% block content %}
<form method="POST" action="/register">
  <span>Register</span>
  {{ form.csrf_token }}
  {{ form.username.label }}
  {{ form.username() }}
  {{ form.password.label }}
  {{ form.password() }}
  <input type="submit" value="Register">
</form>
{% endblock %}